.calc{
    width: 350px;
    height: 455px;
    background: rgb(21, 114, 219);
    margin-left: 500px;
    margin-top:100px;
}
#screen{
    width: 80%;
    margin-left: 25px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
}
.btn{
    width: 40px;
    height:40px;
    margin-left: 35px;
    margin-top: 30px;
    background-color:yellowgreen ;

}
body{
    background-image: url('pic.png');
}
.header{
    text-align: center;
    font-size: 20px;
    color:white;
}
